---
---

@import '_reset';

$primary_color: {{site.data.settings.colors.primary_color}};
$secondary_color: {{site.data.settings.colors.secondary_color}};
$accent_color: {{site.data.settings.colors.accent_color}};

h1 {
  color: $primary_color;
}

p {
  background-color: $secondary_color;
}

h2 {
  color: $accent_color;
}
